<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理商品</title>
    <style>
        *{
            margin:0;
            padding:0;
        }
        html,body{
            height:100%;
        }
    </style>
    <link rel="stylesheet" href="../css/admin/public.css">
    <link rel="stylesheet" href="../css/admin/index_carousel.css">
    <script src="../js/admin.js"></script>
</head>
<body>
<div class="content">
    <div class="sidbar" id="sidbar">
        <div class="title">
            <h1><a href="/admin">管理中心</a></h1>
        </div>
        <div class="row hide">
            <h2>商品管理</h2>
            <ul>
                <li class="lis">
                    <a href="/goods_add">添加商品</a>
                </li>
                <li class="lis">
                    <a href="/goods_lists">查询商品</a>
                </li>
                <li class="lis">
                    <a href="/goods_lists">修改商品</a>
                </li>
                <li class="lis">
                    <a href="/goods_lists">下架商品</a>
                </li>
                <li class="lis">
                    <a href="/goods_lists">删除商品</a>
                </li>
            </ul>
        </div>
        <div class="row hide">
            <h2>订单管理</h2>
            <ul>
                <li class="lis">
                    <a href="/order_list">订单列表</a>
                </li>
                <li class="lis">
                    <a href="/order_wait">待发货</a>
                </li>
                <li class="lis">
                    <a href="/order_rebate">退款订单</a>
                </li>
                <li class="lis">
                    <a href="/order_server">售后订单</a>
                </li>
            </ul>
        </div>
        <div class="row ">
            <h2>首页管理</h2>
            <ul>
                <li class="lis">
                    <a href="/i_carousel">轮播商品</a>
                </li>
                <li class="lis">
                    <a href="/i_hot">热门展示</a>
                </li>
                <li class="lis">
                    <a href="/i_banner">横幅展示</a>
                </li>
                <li class="lis">
                    <a href="/i_class">类别划分</a>
                </li>
            </ul>
        </div>
        <div class="row hide">
            <h2>数据统计</h2>
            <ul>
                <li class="lis">
                    <a href="/data_vist">添加量</a>
                </li>
                <li class="lis">
                    <a href="/data_month">成交量</a>
                </li>
                <li class="lis">
                    <a href="/index_banner">退款量</a>
                </li>
            </ul>
        </div>
        <div class="row hide">
            <h2>活动中心</h2>
            <ul>
                <li class="lis">
                    <a href="/data_vist">折扣</a>
                </li>
                <li class="lis">
                    <a href="/data_month">优惠卷</a>
                </li>
                <li class="lis">
                    <a href="/index_banner">活动页面</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main" id="main">
        <div class="top">
            <div class="hide_sidbar" id="hide_sidbar">隐</div>
        </div>
        <div class="window" id="app">
            <div class="title">
                <h1>轮播管理</h1>
            </div>
            <div class="contents">
                <div class="index_carousel" id="index_carousel">
                    <div class="top">
                        <div class="one">
                            <h2>当前查看:</h2>
                        </div>
                        <div class="two">
                            <select name="carousel" id="carousel">
                                <option value="carousel1">第一张轮播</option>
                                <option value="carousel2">第二张轮播</option>
                                <option value="carousel3">第三张轮播</option>
                                <option value="carousel4">第四张轮播</option>
                                <option value="carousel5">第五张轮播</option>
                                <option value="carousel6">第六张轮播</option>
                            </select>
                        </div>
                    </div>
                    <div class="contents">
                        <div class="now_carousel">
                            <div class="title">当前图片</div>
                            <div class="carousel_img">
                                <img src="./imgs/0.png" id="carousel_img" alt="">
                                <div class="back">更换背景</div>
                                <input type="file" class="file" id="file">
                            </div>
                            <div class="change">
                                <div class="a_herf">
                                    <input type="text" name="a_herf" id="a_herf" placeholder="该轮播对应的请求路径">
                                </div>
                            </div>
                            <div class="btn_box">
                                <div class="btn" id="btn">保存信息</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    function gi(id){return document.getElementById(id)}
    let carousel=gi('carousel');
    let a_href=gi('a_herf');
    let file=gi('file');
    let btn=gi('btn');
    let carousel_img=gi('carousel_img');
    carousel.onchange=function(){
        carousel_img.src="goods_cover?gid="+carousel.value;
    };

    btn.onclick=function(){
        //开始保存图片
        if(!file.files[0]&&!a_herf.value){
            return alert('请选择修改的项目');
        }
        let xml=getXmlHttp();
        let formData = new FormData();
        formData.append('gid',carousel.value);
        console.log(carousel.value);
        if(file.files[0]){
            formData.append('file',file.files[0]);
        }
        if(a_herf.value){
            formData.append('a_href',a_href.value);
        }
        xml.open("POST","/edit_carousel",true);
        xml.onload=function(){
            let response=xml.responseText;
            console.log(response);
            alert(response);
        };
        xml.send(formData)
    };
    function getXmlHttp(){
        if (window.XMLHttpRequest)
        {// 判断是否有该对象
            return new XMLHttpRequest();
        }
        else if (window.ActiveXObject)
        {// 判断是否是兼容ie5和ie6
            return new ActiveXObject("Microsoft.XMLHTTP");
        }else{
            return null;
        }
    }
</script>
</html>