<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理商品</title>
    <style>
        *{
            margin:0;
            padding:0;
        }
        html,body{
            height:100%;
        }
    </style>
    <link rel="stylesheet" href="../css/admin/public.css">
    <link rel="stylesheet" href="../css/admin/index_hot.css">
    <script src="../js/admin.js"></script>
</head>
<body>
<div class="content">
    <div class="sidbar" id="sidbar">
        <div class="title">
            <h1><a href="/admin">管理中心</a></h1>
        </div>
        <div class="row hide">
            <h2>商品管理</h2>
            <ul>
                <li class="lis">
                    <a href="/goods_add">添加商品</a>
                </li>
                <li class="lis">
                    <a href="/goods_lists">查询商品</a>
                </li>
                <li class="lis">
                    <a href="/goods_lists">修改商品</a>
                </li>
                <li class="lis">
                    <a href="/goods_lists">下架商品</a>
                </li>
                <li class="lis">
                    <a href="/goods_lists">删除商品</a>
                </li>
            </ul>
        </div>
        <div class="row hide">
            <h2>订单管理</h2>
            <ul>
                <li class="lis">
                    <a href="/order_list">订单列表</a>
                </li>
                <li class="lis">
                    <a href="/order_wait">待发货</a>
                </li>
                <li class="lis">
                    <a href="/order_rebate">退款订单</a>
                </li>
                <li class="lis">
                    <a href="/order_server">售后订单</a>
                </li>
            </ul>
        </div>
        <div class="row ">
            <h2>首页管理</h2>
            <ul>
                <li class="lis">
                    <a href="/i_carousel">轮播商品</a>
                </li>
                <li class="lis">
                    <a href="/i_hot">热门展示</a>
                </li>
                <li class="lis">
                    <a href="/i_banner">横幅展示</a>
                </li>
                <li class="lis">
                    <a href="/i_class">类别划分</a>
                </li>
            </ul>
        </div>
        <div class="row hide">
            <h2>数据统计</h2>
            <ul>
                <li class="lis">
                    <a href="/data_vist">添加量</a>
                </li>
                <li class="lis">
                    <a href="/data_month">成交量</a>
                </li>
                <li class="lis">
                    <a href="/index_banner">退款量</a>
                </li>
            </ul>
        </div>
        <div class="row hide">
            <h2>活动中心</h2>
            <ul>
                <li class="lis">
                    <a href="/data_vist">折扣</a>
                </li>
                <li class="lis">
                    <a href="/data_month">优惠卷</a>
                </li>
                <li class="lis">
                    <a href="/index_banner">活动页面</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main" id="main">
        <div class="top">
            <div class="hide_sidbar" id="hide_sidbar">隐</div>
        </div>
        <div class="window" id="app">
            <div class="title">
                <h1>主页热门</h1>
            </div>
            <div class="contents">
                <div class="index_hot" id="index_hot">
                    <div class="hots">
                        <ul>
                            <li class="hot hot0">
                                <div class="file_box">
                                    <input type="file" class="file">
                                    <div class="back">上传文件</div>
                                </div>
                                <div class="img_box">
                                    <img src="/goods_cover?gid=hot0" alt="">
                                </div>
                                <div class="a_href_box">
                                    <input type="text"  placeholder="链接地址">
                                </div>
                                <div class="btn_box">
                                    <div class="btn">保存该项</div>
                                </div>
                            </li>
                            <li class="hot hot1">
                                <div class="file_box">
                                    <input type="file" class="file">
                                    <div class="back">上传文件</div>
                                </div>
                                <div class="img_box">
                                    <img src="/goods_cover?gid=hot1" alt="">
                                </div>
                                <div class="a_href_box">
                                    <input type="text" class="a_href" placeholder="链接地址">
                                </div>
                                <div class="btn_box">
                                    <div class="btn">保存该项</div>
                                </div>
                            </li>
                            <li class="hot hot2">
                                <div class="file_box">
                                    <input type="file" class="file">
                                    <div class="back">上传文件</div>
                                </div>
                                <div class="img_box">
                                    <img src="/goods_cover?gid=hot2" alt="">
                                </div>
                                <div class="a_href_box">
                                    <input type="text" class="a_href" placeholder="链接地址">
                                </div>
                                <div class="btn_box">
                                    <div class="btn">保存该项</div>
                                </div>
                            </li>
                            <li class="hot hot3">
                                <div class="file_box">
                                    <input type="file" class="file">
                                    <div class="back">上传文件</div>
                                </div>
                                <div class="img_box">
                                    <img src="/goods_cover?gid=hot3" alt="">
                                </div>
                                <div class="a_href_box">
                                    <input type="text" class="a_href" placeholder="链接地址">
                                </div>
                                <div class="btn_box">
                                    <div class="btn">保存该项</div>
                                </div>
                            </li>
                            <li class="hot hot4">
                                <div class="file_box">
                                    <input type="file" class="file">
                                    <div class="back">上传文件</div>
                                </div>
                                <div class="img_box">
                                    <img src="/goods_cover?gid=hot4" alt="">
                                </div>
                                <div class="a_href_box">
                                    <input type="text" class="a_href" placeholder="链接地址">
                                </div>
                                <div class="btn_box">
                                    <div class="btn">保存该项</div>
                                </div>
                            </li>
                            <li class="hot hot5">
                                <div class="file_box">
                                    <input type="file" class="file">
                                    <div class="back">上传文件</div>
                                </div>
                                <div class="img_box">
                                    <img src="/goods_cover?gid=hot5" alt="">
                                </div>
                                <div class="a_href_box">
                                    <input type="text" class="a_href" placeholder="链接地址">
                                </div>
                                <div class="btn_box">
                                    <div class="btn">保存该项</div>
                                </div>
                            </li>
                            <li class="hot hot6">
                                <div class="file_box">
                                    <input type="file" class="file">
                                    <div class="back">上传文件</div>
                                </div>
                                <div class="img_box">
                                    <img src="/goods_cover?gid=hot6" alt="">
                                </div>
                                <div class="a_href_box">
                                    <input type="text" class="a_href" placeholder="链接地址">
                                </div>
                                <div class="btn_box">
                                    <div class="btn">保存该项</div>
                                </div>
                            </li>
                            <li class="hot hot7">
                                <div class="file_box">
                                    <input type="file" class="file">
                                    <div class="back">上传文件</div>
                                </div>
                                <div class="img_box">
                                    <img src="/goods_cover?gid=hot7" alt="">
                                </div>
                                <div class="a_href_box">
                                    <input type="text" class="a_href" placeholder="链接地址">
                                </div>
                                <div class="btn_box">
                                    <div class="btn">保存该项</div>
                                </div>
                            </li>
                            <li class="hot hot8">
                                <div class="file_box">
                                    <input type="file" class="file">
                                    <div class="back">上传文件</div>
                                </div>
                                <div class="img_box">
                                    <img src="/goods_cover?gid=hot8" alt="">
                                </div>
                                <div class="a_href_box">
                                    <input type="text" class="a_href" placeholder="链接地址">
                                </div>
                                <div class="btn_box">
                                    <div class="btn">保存该项</div>
                                </div>
                            </li>
                            <li class="hot hot9">
                                <div class="file_box">
                                    <input type="file" class="file">
                                    <div class="back">上传文件</div>
                                </div>
                                <div class="img_box">
                                    <img src="/goods_cover?gid=hot9" alt="">
                                </div>
                                <div class="a_href_box">
                                    <input type="text" class="a_href" placeholder="链接地址">
                                </div>
                                <div class="btn_box">
                                    <div class="btn">保存该项</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    function gi(id){return document.getElementById(id)}
    let index_hot=gi('index_hot');
    let hots=index_hot.getElementsByClassName('hot');
    let hots_btn=[];
    let hots_files=[];
    let hots_a=[];
    let callIng=false;//用来记录是否在与后台进行通信,如果为true则拒绝通信.等待完成之后在进行通信
    for(let i=0;i<hots.length;i++){
        hots_btn[i]=hots[i].getElementsByClassName('btn')[0];
        hots_btn[i]._index=i;//兼容不支持es6的浏览器,使用中间字段存储下标信息
        hots_files[i]=hots[i].getElementsByClassName('file')[0];
        hots_a[i]=hots[i].getElementsByClassName('a_href_box')[0].getElementsByTagName('input')[0];
    }//使用循环获取所有对应的元素
    for(let i=0;i<hots_btn.length;i++){
        //使用for循环为每一个按钮绑定点击事件
        hots_btn[i].onclick=function(){
            let _index=this._index;
            console.log("保存第"+_index+"项");
            let file=hots_files[i].files[0];
            let a_href=hots_a[i].value;
            if(!file&&!a_href){
                //如果两个都不存在则无需发送数据
                return alert('你至少要输入两个数据中的一个');
            }
            if(callIng){
                //判断是否为通话中的状态,如果在通话中则拒绝操作
                return alert('服务繁忙;\n当前正在与服务器进行通信中,为保护服务器,请稍后再试');
            }
            let xml=getXmlHttp();//获取xml对象
            let formData=new FormData();
            if(file){
                formData.append('file',file);
            }
            if(a_href){
                formData.append('a_href',a_href);
            }
            formData.append('gid','hot'+_index);
            xml.open("POST",'/edit_hots',true);
            xml.onload=function(){
                let response=xml.responseText;
                console.log(response);
                alert(response);
                callIng=false;
            }
            xml.send(formData);
        }
    }

    function getXmlHttp(){
        if (window.XMLHttpRequest)
        {// 判断是否有该对象
            return new XMLHttpRequest();
        }
        else if (window.ActiveXObject)
        {// 判断是否是兼容ie5和ie6
            return new ActiveXObject("Microsoft.XMLHTTP");
        }else{
            return null;
        }
    }
</script>
</html>