<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>店铺生成</title>
    <style>
        *{
            margin:0;
            padding:0;
        }
        .box{
            width:500px;
            height:700px;
            border-radius:25px;
            border:1px solid black;
            box-shadow:7px 7px 12px 5px greenyellow;
            margin:60px auto;
        }
    </style>
</head>
<body>
        <div class="box">
            <form action="POST">

            </form>
        </div>
</body>
</html>