<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>码商/个人中心</title>
    <link rel="stylesheet" href="./css/public.css">
    <link rel="stylesheet" href="./css/top_pc.css">
    <link rel="stylesheet" href="./css/user/content.css">
</head>
<body>
<header class="site_top" id="site_top">
    <nav class="top_nav">
        <div class="titles fl">
            <ul>
                <li class="lis"><a href="/">首页</a></li>
                <li class="lis"><a href="/admin">管理</a></li>
                <li class="lis"><a href="/login">登录</a></li>
                <li class="lis"><a href="/search?sort=0&keyword=">查询</a></li>
            </ul>
        </div>
        <div class="userBox fr" id="user">
            <ul>
                <li class="lis">联系客服</li>
                <li class="lis">历史记录</li>
                <li class="lis"><a href="/car?pid" id="user_car">购物车</a></li>
                <li class="lis" id="users">
                    <img id="top_user_header" class="user_header" alt="头像加载失败" >
                    <a id="top_user_name" title="user_name">个人中心</a>
                    <div class="user_msg">
                        <h2 id="u_name">暂未登录</h2>
                        <div class="descript" id="u_descript">
                            登录后享受更多快乐
                        </div>
                        <div class="btn_box">
                            <a href="/login" class="btn" id="u_btn">前往登录</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
<script>
    function gi(id){return document.getElementById(id)}
    function getXmlHttp(){
        if (window.XMLHttpRequest)
        {// 判断是否有该对象
            return new XMLHttpRequest();
        }
        else if (window.ActiveXObject)
        {// 判断是否是兼容ie5和ie6
            return new ActiveXObject("Microsoft.XMLHTTP");
        }else{
            return null;
        }
    }
    let user_name=gi('top_user_name');
    let header=gi('top_user_header');
    let u_btn=gi('u_btn');
    let u_name=gi('u_name');
    let u_descript=gi('u_descript');
    if(window.localStorage.getItem('u')){
        let user_obj=window.localStorage.getItem('u');
        user_obj=JSON.parse(user_obj);
        header.src='/header?pid='+user_obj.pid;
        user_name.href="/user/"+user_obj.pid+"?token="+user_obj.token;
        u_btn.href="/logout?pid="+user_obj.pid;
        user_name.title="加载中";
        u_btn.innerHTML="注销";
        u_name.innerHTML="获取名称中";
        u_descript.innerHTML="获取最新简介中";
        let xml=getXmlHttp();
        xml.open('POST','/log',true);
        xml.send(JSON.stringify(user_obj));
        xml.onreadystatechange=function(){
            if(xml.readyState===4&&xml.status){
                let response=xml.responseText;
                response=JSON.parse(response);
                if(response.err){
                    header.style.display="none";
                    user_name.href="/login";
                    u_btn.href="/login";
                    user_name.title="未登录";
                    u_btn.innerHTML="前往登录";
                    u_name.innerHTML="未登录";
                    u_descript.innerHTML="登录享受更多特权";
                    return console.log(response);
                }
                header.src='/header?pid='+response.pid;
                user_name.href="/user/"+response.pid+"?"+response.token;
                u_btn.href='';
                user_name.title=response.name+"的个人中心";
                u_btn.innerHTML="注销";
                u_btn.onclick=function(){

                    let log_xml=getXmlHttp();
                    let href='logout?pid='+response.pid;
                    window.localStorage.removeItem("u");
                    log_xml.open('GET',href,true);
                    log_xml.send();
                    log_xml.onreadystatechange=function(){
                        header.style.display="none";
                        user_name.href="/login";
                        u_btn.href="/login";
                        user_name.title="个人中心";
                        u_btn.innerHTML="前往登录";
                        u_name.innerHTML="未登录";
                        u_descript.innerHTML="登录享受更多特权";
                        window.location.href='/'
                    };
                    console.log('回到主页');
                    window.location.href='/'
                    return false;
                };
                u_name.innerHTML=response.name;
                u_descript.innerHTML=response.brief;
                window.localStorage.setItem('u',xml.responseText);
            }
        }
    }else{
        header.style.display="none";
        user_name.href="/login";
        u_btn.href="/login";
        user_name.title="个人中心";
        u_btn.innerHTML="前往登录";
        u_name.innerHTML="未登录";
        u_descript.innerHTML="登录享受更多特权";
    }
</script>

<div class="con">
    <div class="vertical">
        <div class="person chunk">
            <div class="title">个人中心</div>
                <ul class="ul_u">
                    <li class="lis">
                        <a href="#">个人信息</a>
                    </li>
                    <li class="lis">
                        <a href="#">我的余额</a>
                    </li>
                    <li class="lis">
                        <a href="#">购物车</a>
                    </li>
                </ul>
        </div>
        <div class="person chunk">
            <div class="title">订单中心</div>
            <ul class="ul_order">
                <li class="lis">
                    <a href="#">我的订单</a>
                </li>
                <li class="lis">
                    <a href="#">团购订单</a>
                </li>
                <li class="lis">
                    <a href="#">待评价</a>
                </li>
                <li class="lis">
                    <a href="#">已评价</a>
                </li>
            </ul>
        </div>

    </div>
    <div class="chunk_right">
        <div class="top_chunk">
            <div class="me" id="me_msg">
                <div class="_user">
                    <div class="head">
                        <img src="/header?pid={{user.pid}}" alt="">
                        <a href="/editor/{{user.pid}}?{{user.token}}">编辑资料</a>
                    </div>
                    <div class="name">
                        <a href="/editor/{{user.pid}}?{{user.token}}">{{user.name}}</a>
                    </div>
                    <div class="describe">
                        <div class="shdz">收货地址</div>
                        <div class="brief">
                            <h3>个人简介</h3>
                            {{user.brief}}
                        </div>
                    </div>
                </div>
                <div class="router">
                    <ul>
                        <li class="lis">
                            <a href="">待付款</a>
                        </li>
                        <li class="lis">
                            <a href="">待发货</a>
                        </li>
                        <li class="lis">
                            <a href="">待收获</a>
                        </li>
                        <li class="lis">
                            <a href="">待发货</a>
                        </li>
                        <li class="lis">
                            <a href="">售后</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="banner">
                <img src="./imgs/7.png" alt="">
                <a href="#">这是一个广告</a>
            </div>
        </div>
        <div class="recommend">
            <div class="tips">
                根据浏览,推荐商品
                <div class="toogle_btn">
                    <a id="switch_btn"><b>切换新的</b></a>
                </div>
            </div>
            <div class="goods_box">
                <ul id="goods_ul">
                    {{each goods}}
                    <li class="lis" title="{{$value.gid}}">
                        <div class="cover">
                            <img src="/goods_cover?gid={{$value.gid}}">
                            <a href="/commodity?gid={{$value.gid}}"></a>
                        </div>
                        <div class="msg">
                            <div class="name">
                                <a href="/commodity?gid={{$value.gid}}">{{$value.name}}</a>
                            </div>
                            <div class="descript">{{$value.descript}}</div>
                            <div class="price_box">
                                <div class="p now_price">
                                    <span>{{$value.sell_price}}</span>元
                                </div>
                                <div class="p old_price">
                                    <span>{{$value.price}}</span>元
                                </div>
                            </div>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>

    </div>
</div>
</body>
<script>
    let switch_btn=gi('switch_btn');
    switch_btn.onclick=function(){

    }
</script>
</html>