.index_hot{
    width:96%;
    height:700px;
    margin:0 auto;
}
.index_hot .hots{
    width:1200px;
    height:570px;
    padding:5px 0;
    margin:0 auto;
    position:relative;
}
.index_hot .hots{
    width:1200px;
    height:570px;
    padding:5px 0;
    position:relative;
}
.index_hot .hot{
    display: block;
    list-style: none;
    position:absolute;
    background-color: #17d071;
    margin:2px;
}
.index_hot .hot:hover{
    background-color: #36d0cc;
}
.hot .img_box{
    display: block;
    position:absolute;
    width:100%;
    height:100%;
    z-index:5;
    left:0;
    top:0;
}
.hots .hot .img_box{
    opacity: 1;
}
.hots .hot .img_box img{
    position:absolute;
    width:100%;
    height:100%;
    opacity: 1;
    left:0;
    top:0;
}
.hot .file_box{
    position:absolute;
    width:100%;
    height:35px;
    z-index:90;
    left:0;
    top:0;
}
.hot .file_box .file{
    display: block;
    position:absolute;
    width: 100%;
    height:100%;
    z-index: 99;
    opacity: 0;
}
.hot .file_box .back{
    position:absolute;
    width:100%;
    height:100%;
    line-height: 35px;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
    color:white;
}
.hot .a_href_box{
    position:absolute;
    width:100%;
    height: 35px;
    line-height: 35px;
    z-index:90;
    left:0;
    top:35px;
}
.hot .a_href_box input{
    width:98%;
    height:35px;
    margin:0 auto;
}
.hot *{
    opacity: 0;
}
.hot:hover *{
 opacity: 1;
}
.hot .btn_box{
    position:absolute;
    width:100%;
    height:35px;
    line-height:35px;
    z-index:99;
    bottom:0;
    left:0;
}
.hot .btn_box .btn{
    width:50%;
    font-size:18px;
    height:35px;
    line-height: 35px;
    margin:0 auto;
}
.hot0{
    width:426px;
    height:236px;
}
.hot1{
    left:430px;
    width:196px;
    height:186px;
}
.hot2{
    left:630px;
    width:196px;
    height:186px;
}
.hot3{
    left:830px;
    width:366px;
    height:366px;
}
.hot4{
    top:244px;
    width:211px;
    height:326px;
}
.hot5{
    top:244px;
    left:215px;
    width:211px;
    height:326px;
}
.hot6{
    left:430px;
    top:194px;
    width:396px;
    height:196px;
}
.hot7{
    left:430px;
    top:394px;
    width:196px;
    height:176px;
}
.hot8{
    left:630px;
    top:394px;
    width:196px;
    height:176px;
}
.hot9{
    left:830px;
    top:374px;
    width:366px;
    height:196px;
}